
@use '../util' as u;

h1,
 h2,
  h3 {
    font-weight: 700; //bold
    line-height: 1.1; //the line height of text will be just a little bigger than the font size itself.
    margin-top: 0; //browsers will add a margin top and bottom to a lot of these elements
}

h1 {
  font-size: clamp(u.rem(28), u.rem(16) + 2vw, u.rem(40));
  // font-size: clamp(1.75rem, 1rem + 2vw, 2.5rem);
  // font-size: clamp(28px, 16px + 2vw, 40px);
  
  // font-size: calc(16px + 2vw);
  
  // font-size: 7.5vw;     28px % 375 viewport width for mobile

  // @include u.breakpoint(medium) { using breakpoints
  //   font-size: 36px;
  // }

  // @include u.breakpoint(large) {
  //   font-size: 42px;
  // }
}

h2 {
  font-size: clamp(u.rem(22), u.rem(14) + 1.5vw, u.rem(36));
  // font-size: clamp(1.375rem, 0.875rem + 1.5vw, 2.25px);
}



p {
    margin-top: 0;
    font-size: u.rem(16);
}

a,          //all link tags
 a:visited,
  a:active {
    text-decoration: none; //remove the line that browsers add to links.
}